<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <h2>Employee Details</h2>
    <div *ngIf="employee" >
      <div><span class="label">Emp Name</span> {{employee.emp_name}}</div>
      <div><span class="label">Salary</span> {{employee.salary}}</div>
      <div><span class="label">Dept</span> {{employee.Dept}}</div>
      <div><span class="label">Gender</span> {{employee.Gender}}</div>
      <div><span class="label">Mobile</span> {{employee.mobile}}</div>
    </div>
  </div>
  <div class="col-sm-3"></div>
</div>
